.site-header {
  background: var(--colorCardBg);
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .site-header__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.site-header__logo {
  display: flex;
  align-items: center;
}

.site-header__logo img {
  display: block;
}
